<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cards</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    
    <div class="container">
        <h1>Welcome to Card Games!</h1>
        <h2>Choose a Game:</h2>
        <div class="buttons">
            <a class="sol-btn" href="/solitaire"><img src="https://www.onlinerealgames.com/games/solitaire-game/thumb_1.jpg" alt="Play Solitaire"></a>
            <a href="/war"><img src="https://lh4.ggpht.com/gx0IPtrfAODWgGt4DKePHGJjjk5W465fWHOVz5ugB_SU6iJ8J8rGxz2zbqstlJN_IA0" alt="Play War"></a>
        </div>
        
            
        
    </div>
    
</body>
</html>